@import './reset.scss';

@font-face {
  font-family: Inter UI Regular;
  src: url(fonts/Inter-UI-Regular.ttf);
}

:root {
  --menu-height: 40%;
}

html {
  font-size: 62.5%;
  font-family: Inter UI Regular, sans-serif;
  color: #fff;
}

body {
  background-color: #bdbdbd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  --app-height: 50rem;

  background: linear-gradient(
    to bottom,
    #8249f2 20%,
    #953ff4 20% 40%,
    #8249f2 40% 60%,
    #953ff4 calc(100% - var(--menu-height)) 100%
  );
  // width: 90vw;
  // height: 70vh;
  width: 70rem;
  height: var(--app-height);
  border-radius: 3rem;
  background-color: gra;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: calc(var(--size) * 200);
  perspective-origin: top center;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 20%;
    background-color: #bdbdbd;
    transform: translateY(calc(50% + var(--app-height) / 2));
  }
}
