@import './reset.scss';

@font-face {
  font-family: Inter UI Regular;
  src: url(fonts/Inter-UI-Regular.ttf);
}

:root {
  --menu-height: 40%;
  --app-height: 50rem;
  --duration: 750ms;
}

html {
  font-size: 62.5%;
  font-family: Inter UI Regular, sans-serif;
  color: #fff;
}

body {
  background-color: #bdbdbd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.app-container {
  padding-top: 20rem;
  margin-bottom: 20rem;
  overflow: hidden;
  grid-area: 1/1;
}

.app {
  background: linear-gradient(
    to bottom,
    #8249f2 20%,
    #953ff4 20% 40%,
    #8249f2 40% 60%,
    #953ff4 calc(100% - var(--menu-height)) 100%
  );
  // width: 90vw;
  // height: 70vh;
  width: 70rem;
  height: var(--app-height);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: calc(var(--size) * 200);
  perspective-origin: top center;
  position: relative;
}

.app-shadow {
  margin-top: 20rem;
  grid-area: 1/1;
  width: 70rem;
  height: var(--app-height);
  overflow: visible;
  background: transparent;
  box-shadow: 0 1.5rem 3.5rem hsla(0, 0%, 0%, 0.2);
  border-radius: 3rem;
}

.heading-container {
  right: 3rem;
  top: 11rem;
  position: absolute;
  animation: slideIn var(--duration) cubic-bezier(0.5, 0, 0.5, 1);

  @keyframes slideIn {
    from {
      transform: translateX(150%);
    }
  }
}

.heading {
  z-index: 10;
  font-size: 5.5rem;
  font-weight: bold;
}

.wave-container {
  width: 150px;
  height: 70px;
  position: relative;
  svg {
    position: absolute;
  }
  .avatar {
    position: absolute;
    right: 22px;
    top: 12px;
    object-fit: cover;
    width: 5rem;
    border-radius: 50%;
    border: 4px solid #8249f2;
    z-index: 1;
    animation: show2 var(--duration) cubic-bezier(0.5, 0, 0.5, 1) forwards;
    animation-delay: var(--duration);
    transform: scale(0);

    @keyframes show2 {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #8249f2;
    display: block;
    position: absolute;
    animation: show var(--duration) cubic-bezier(0.5, 0, 0.5, 1) forwards;
    animation-delay: var(--duration);
    transform-origin: right;

    @keyframes show {
      from {
        transform: scaleX(1);
      }
      to {
        transform: scaleX(0);
      }
    }
  }
}
