:root {
  --cube-animation-duration: 2.5s;
  --cube-bottom: 60%;
  --cube-height: 40rem;
  --cube-left: 15%;
  --depth: 10rem;
  --easing: ease-in-out;
  --front-border-bottom: #0a0322;
  --front-border-left: #e185bc;
  --front-border-top: #fff;
  --front-bottom-corner-color: #b170e4;
  --height-scale: 1;
  --left-border-bottom: #0a0322;
  --left-border-left: #de5150;
  --left-border-right: #6a289e;
  --left-border-top: #fff;
  --left-bottom-corner-color: #511fae;
  --left-grad-color-from: #d7beff;
  --left-grad-color-to: #d7beff;
  --reflection-opacity-from: 0.5;
  --reflection-opacity-to: 1;
  --right-grad-color-from: #ffb8a5;
  --right-grad-color-to: #d0b2ff;
  --scale-from: 0.04;
  --scale-to: 3;
  --size: 16rem;
  --top-grad-color-from: #d0b2ff;
  --top-grad-color-to: #d0b2ff;
}

.cube-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  bottom: var(--cube-bottom);
  left: var(--cube-left);
}

.cube {
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-25deg) rotateY(45deg);
  transform-origin: bottom center;
  width: var(--size);
  height: var(--size);
  will-change: transform;

  .side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    will-change: transform;
  }
  .left {
    width: var(--depth);
    border-top: 1px solid var(--left-border-top);
    border-bottom: 1px solid var(--left-border-bottom);
    border-right: 1px solid var(--left-border-right);
    border-left: 1px solid var(--left-border-left);
    transform-origin: bottom center;
    transform: translateX(-50%) rotateY(90deg);
  }
  .left:not(.reflection) {
    animation: animate-height-left var(--cube-animation-duration) var(--easing)
      infinite alternate;

    @keyframes animate-height-left {
      from {
        transform: scaleY(var(--scale-from)) translateX(-50%) rotateY(90deg);
      }
      to {
        transform: scaleY(var(--scale-to)) translateX(-50%) rotateY(90deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--left-grad-color-from);
      will-change: background-color;
      animation: animate-left-bg var(--cube-animation-duration) var(--easing)
        infinite alternate;

      @keyframes animate-left-bg {
        from {
          background-color: var(--left-grad-color-from);
        }
        to {
          background-color: var(--left-grad-color-to);
        }
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top left,
        var(--left-bottom-corner-color),
        transparent 80%
      );
    }
  }
  .top {
    transform: translateY(-50%) rotateX(90deg);
    height: var(--depth);
    border: none;
  }
  .top:not(.reflection) {
    animation: animate-position-top var(--cube-animation-duration) var(--easing)
      infinite alternate;

    @keyframes animate-position-top {
      from {
        transform: translateY(calc(-1 * (var(--scale-from) - 1) * var(--size)))
          translateY(-50%) rotateX(90deg);
      }
      to {
        transform: translateY(calc(-1 * (var(--scale-to) - 1) * var(--size)))
          translateY(-50%) rotateX(90deg);
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: var(--top-grad-color-from);
      animation: animate-top-bg var(--cube-animation-duration) var(--easing)
        infinite alternate;
      will-change: background-color;

      @keyframes animate-top-bg {
        from {
          background-color: var(--top-grad-color-from);
        }
        to {
          background-color: var(--top-grad-color-to);
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to right bottom,
        #fff,
        #fff 20%,
        transparent 80%
      );
    }
  }
  .front {
    border-top: 1px solid var(--front-border-top);
    border-bottom: 1px solid var(--front-border-bottom);
    border-left: 1px solid var(--front-border-left);
    transform: translateZ(calc(var(--depth) / 2));
    transform-origin: bottom center;
  }
  .front:not(.reflection) {
    animation: animate-height-front var(--cube-animation-duration) var(--easing)
      infinite alternate;

    @keyframes animate-height-front {
      from {
        transform: scaleY(var(--scale-from))
          translateZ(calc((var(--depth) / 2) - 1px));
      }
      to {
        transform: scaleY(var(--scale-to))
          translateZ(calc((var(--depth) / 2) - 1px));
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      animation: animate-right-bg var(--cube-animation-duration) var(--easing)
        infinite alternate;
      will-change: background-color;
      background-color: var(--right-grad-color-from);

      @keyframes animate-right-bg {
        from {
          background-color: var(--right-grad-color-from);
        }
        to {
          background-color: var(--right-grad-color-to);
        }
      }
    }
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        to top right,
        var(--front-bottom-corner-color),
        var(--front-bottom-corner-color) 5%,
        transparent 70%
      );
    }
  }

  &.reflection {
    transform: translateY(calc(var(--size) - var(--size) / 15)) rotateX(-25deg)
      rotateY(45deg);
    z-index: -1;
    .left,
    .front {
      filter: blur(10px);
      border: none !important;
    }
    .left {
      border: none !important;

      &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        transition: none;
        background-color: var(--right-grad-color-to);
        will-change: opacity;

        animation: animate-left-before-reflection var(--cube-animation-duration)
          var(--easing) infinite alternate;

        @keyframes animate-left-before-reflection {
          from {
            opacity: var(--reflection-opacity-from);
          }
          to {
            opacity: var(--reflection-opacity-to);
          }
        }
      }
      &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(
          200deg,
          #511fae 10%,
          #511fae 10%,
          transparent 40%,
          #953ff4 50%,
          #953ff4
        );
      }

      animation: animate-left-after-reflection var(--cube-animation-duration)
        var(--easing) infinite alternate;

      @keyframes animate-left-after-reflection {
        from {
          opacity: var(--reflection-opacity-from);
        }
        to {
          opacity: var(--reflection-opacity-to);
        }
      }
    }
    .front {
      background: linear-gradient(
        to bottom,
        #b170e4,
        #c79ced 20%,
        transparent 60%
      );
      will-change: opacity;
      animation: animate-front-reflection var(--cube-animation-duration)
        var(--easing) infinite alternate;

      @keyframes animate-front-reflection {
        from {
          opacity: var(--reflection-opacity-from);
        }
        to {
          opacity: var(--reflection-opacity-to);
        }
      }
    }
    .top {
      height: var(--depth);
      background: linear-gradient(
        to bottom,
        #bda1dc,
        #bda1dc 5%,
        #15073f 10%,
        #15073f 99%,
        #f6f1f9 99.5%,
        #f6f1f9 100%
      );
      border-bottom: 1px solid #6842a1;
      border-left: 2px solid #c8afe3;
      border-radius: 5px;
    }
  }
}

.textured {
  .cube {
    .front:not(.reflection) {
      &::after {
        background: linear-gradient(
            to top right,
            var(--front-bottom-corner-color),
            var(--front-bottom-corner-color) 5%,
            transparent 70%
          ),
          repeating-linear-gradient(
            to right,
            transparent,
            transparent 3px,
            #000 3px,
            #000 7px
          );
      }
    }
  }
}
