.menu {
  --duration: 500ms;
  --item-width: calc((100%) / 7);
  width: 100%;
  height: var(--menu-height);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 3rem 3rem;
  display: flex;
  list-style: none;
  justify-content: flex-start;
  font-size: 3rem;
  flex-shrink: 0;
  direction: rtl;

  &-animating {
    // disable menu interaction during animations
    pointer-events: none;
  }

  &-item {
    display: grid;
    grid-template: 1fr / 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 2rem 0.5rem;
    width: var(--item-width);
    flex-shrink: 0;
    color: #fff;

    &:not(:first-child):not(:last-child) {
      border-left: 1px solid rgba($color: #fff, $alpha: 0.2);
      border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
    }

    &::before {
      content: '';
      margin: 1rem;
      background-color: transparent;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: 1/1;
      justify-self: stretch;
      align-self: stretch;
      transition: background-color 100ms ease-in-out;
    }

    svg {
      grid-area: 1/1;
    }

    &:hover:not(&-clicked) {
      &::before {
        background-color: rgba($color: #fff, $alpha: 0.1);
      }
    }

    &-clicked {
      animation: animateClick var(--duration) forwards;
      animation-timing-function: ease-in;
      will-change: color;
      color: #fff;

      @keyframes animateClick {
        from {
          color: #fff;
        }
        to {
          color: #803eef;
        }
      }

      &::before {
        animation: animate-before-bg var(--duration) forwards;
        animation-timing-function: ease-in;
        will-change: background-color;

        @keyframes animate-before-bg {
          from {
            background-color: transparent;
          }
          to {
            background-color: #fff;
          }
        }
      }
    }

    &-active {
      color: #803eef;

      &::before {
        background-color: #fff;
      }
    }
  }
}
