body,
html {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  // font-family: Inter UI, sans-serif;
  color: var(--color-text-1);
}

body {
  font-size: 1.4rem;
  background: #1488cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1488cc,
    #2b32b2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1488cc, #2b32b2);
}

canvas {
  transform: translate3d(0, 0, 0);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
